body{
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    background: linear-gradient(to right, #fff5f5, #ffffff);
    color: #2d0a0a;
}

header{
    background-color: #800020;
    color: white;
    padding: 30px;
    box- shadow:0 2px 5px rgba(0,0,0,0,1);
}

h1{
    margin: 0;
    font-size: 36px;
}

nav{
    background-color: #1565c0;
    padding: 15px;
}

nav a{
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover{
    text-decoration: underline;
}

section{
    background-color: white;
    margin: 40px auto;
    padding: 30px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

p{
    font-size: 18px;
    line-height: 1.6;
}

footer{
    background-color: #0d47a1;
    color: white;
    padding: 15px;
    margin-top: 40px;
}
